{% if recaptcha.enabled %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha.site_key }}"></script>
{% endif %}

<form action="{{ url('frontend/form/submit') }}" type="post" class="form"{% if recaptcha.enabled %} data-site-key="{{ recaptcha.site_key }}"{% endif %} data-id="{{ form.id }}">
    {% if recaptcha.enabled %}
        <input type="hidden" name="g-recaptcha-response" />
    {% endif %}

    <div class="success-text">
        {{ form.successText }}
    </div>

    {% for item in form.data.items %}
        {% set name = 'data[' ~ item.id ~ ']' %}

        {% if item.itemRef == 1 %}
            <h1 class="{{ item.config.css }}">
                {{ item.config.title }}
            </h1>
        {% elseif item.itemRef == 2 %}
            <div class="paragraph {{ item.config.css }}">
                {{ markdown(item.config.paragraph) }}
            </div>
        {% elseif item.itemRef == 3 %}
            <div class="form-item is--{{ item.config.type }} {{ item.config.css }}"{% if item.config.required %} data-required="true"{% endif %}>
                <label for="{{ name }}">
                    {{ item.config.label }}
                    {% if item.config.required %}*{% endif %}
                </label>

                {% if item.config.type == 'textarea' %}
                    <textarea name="{{ name }}" id="{{ name }}" cols="30" rows="10" placeholder="{{ item.config.placeholder }}"{% if item.config.required %} required{% endif %} class="input">{{ item.config.value }}</textarea>
                {% else %}
                    <input type="{{ item.config.type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ item.config.placeholder }}"{% if item.config.required %} required{% endif %} class="input">
                {% endif %}

                <div class="invalid-value">
                    {{ item.config.errorText }}
                </div>
            </div>
        {% elseif item.itemRef == 4 %}
            <div class="form-item is--select {{ item.config.css }}"{% if item.config.required %} data-required="true"{% endif %}>
                <label for="{{ name }}">
                    {{ item.config.label }}
                    {% if item.config.required %}*{% endif %}
                </label>
                <select name="{{ name }}" id="{{ name }}"{% if item.config.required %} required{% endif %} class="input">
                    <option selected value="" disabled>Please select</option>
                    {% for option in item.config.values %}
                        <option value="{{ option }}">
                            {{ option }}
                        </option>
                    {% endfor %}
                </select>

                <div class="invalid-value">
                    {{ item.config.errorText }}
                </div>
            </div>
        {% elseif item.itemRef == 5 %}
            <div class="form-item is--checkbox {{ item.config.css }}"{% if item.config.required %} data-required="true"{% endif %}>
                <input type="checkbox" name="{{ name }}" id="{{ name }}"{% if item.config.required %} required{% endif %} class="input">

                <label for="{{ name }}">
                    {{ item.config.label }}
                </label>

                <div class="invalid-value">
                    {{ item.config.errorText }}
                </div>
            </div>
        {% elseif item.itemRef == 6 %}
            <div class="form-item is--button {{ item.config.css }}">
                <button type="{{ item.config.type }}">
                    {{ item.config.label }}
                </button>
            </div>
        {% else %}
            Unknown element
        {% endif %}
    {% endfor %}

    <input type="hidden" name="id" value="{{ form.id }}">
</form>